In [17]:
#importa dependencias
from pymysql import connect
import pandas as pd
from time import sleep
from textwrap import dedent
import matplotlib.pyplot as plt
import seaborn as sns
from millify import millify, prettify
import os
from sqlalchemy import create_engine
import plotly.express as px
import random
from datetime import datetime, time, timedelta, date, timezone
from functools import reduce

In [2]:
url_backup = '86.106.183.70'

database_backup = ['marcador1',
                   'marcador2',
                   'marcador3',
                   'marcador4',
                   'marcador6',
                   'marcador7']

In [3]:
user = 'carlosai'
password = 'OKJmBUIFnh'
password_prod = 'nOmG2hhnQI'
port = '3306'
database = 'mbilling'

In [4]:
# creación de un diccionario de bd para cada marcadro con pymysql

def connect_to_db_backup():
    bd = {}
    cursores = {}

    for dbase in database_backup:
        try:    
            # crea la conexión
            bd[f'{dbase}'] = connect(host = url_backup,
                                            user=user,
                                            passwd=password,
                                            database=dbase,
                                            )

            # crea el cursor
            cursores[f'cursor_{dbase}'] = bd[f'{dbase}'].cursor()
            print(f'Conexión exitosa a base de datos {dbase} con ip {url_backup}')
        except:
            print(f'Error conectando a base de datos {dbase} con ip {url_backup}')
            continue
    return bd, cursores

bd_backup, cursores_backup = connect_to_db_backup()

bd_backup

Conexión exitosa a base de datos marcador1 con ip 86.106.183.70
Conexión exitosa a base de datos marcador2 con ip 86.106.183.70
Conexión exitosa a base de datos marcador3 con ip 86.106.183.70
Conexión exitosa a base de datos marcador4 con ip 86.106.183.70
Conexión exitosa a base de datos marcador6 con ip 86.106.183.70
Conexión exitosa a base de datos marcador7 con ip 86.106.183.70

{'marcador1': <pymysql.connections.Connection at 0x7f61e333c620>,
 'marcador2': <pymysql.connections.Connection at 0x7f61e386b080>,
 'marcador3': <pymysql.connections.Connection at 0x7f6228685340>,
 'marcador4': <pymysql.connections.Connection at 0x7f61e3635760>,
 'marcador6': <pymysql.connections.Connection at 0x7f61e33d4bc0>,
 'marcador7': <pymysql.connections.Connection at 0x7f61e33d5cd0>}

In [5]:
# rango de 1 mes
fecha_inicio = datetime(2023, 1, 1).strftime('%Y-%m-%d')
fecha_final = datetime(2024, 8, 31).strftime('%Y-%m-%d')

print(f'Fecha de inicio: {fecha_inicio}\nFecha de final: {fecha_final}')

Fecha de inicio: 2023-01-01
Fecha de final: 2024-08-31

In [6]:
# define la consulta (query)
query_block = dedent(f"""
        SELECT DISTINCT number
        FROM pkg_campaign_restrict_phone
        WHERE description <> '' AND description is not NULL;
        """)

print(f'Query a correr:\n{query_block}')

Query a correr:

SELECT DISTINCT number
FROM pkg_campaign_restrict_phone
WHERE description <> '' AND description is not NULL;

In [7]:
# crea una función para devolver cada df con pymysql
def get_df(bd, bd_name, query):
    df_temp = pd.read_sql(query, bd)
    df_temp['bd'] = bd_name

    return df_temp

In [8]:
#lista de df
# df_list = [get_df(bd[f'marcador_{ind}'], f'marcador_{ind}', query) for ind in ind_marcadores]

df_list = []
for dbase in database_backup:
    query_ok = False
    conn_ok = False
    print(f'Consultando {dbase}...')
    while not query_ok:
        try:
            df_list.append(get_df(bd_backup[f'{dbase}'], f'{dbase}', query_block))
            query_ok = True
            print(f'Consulta {dbase} OK')
        except Exception as e:
            print(f'Consulta {dbase} con ERROR {e}')
            break
            # while not conn_ok:
            #     try:
            #         bd_backup, _ = connect_to_db_backup()
            #         conn_ok = True
            #         print(f'Nueva conexión bd OK')
            #     except:
            #         print(f'Nueva conexión bd con ERROR')
            #         sleep(5)

Consultando marcador1...

/tmp/ipykernel_677450/2983119101.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_temp = pd.read_sql(query, bd)

Consulta marcador1 OK
Consultando marcador2...

/tmp/ipykernel_677450/2983119101.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_temp = pd.read_sql(query, bd)

Consulta marcador2 OK
Consultando marcador3...

/tmp/ipykernel_677450/2983119101.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_temp = pd.read_sql(query, bd)

Consulta marcador3 OK
Consultando marcador4...

/tmp/ipykernel_677450/2983119101.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_temp = pd.read_sql(query, bd)

Consulta marcador4 OK
Consultando marcador6...

/tmp/ipykernel_677450/2983119101.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_temp = pd.read_sql(query, bd)

Consulta marcador6 OK
Consultando marcador7...

/tmp/ipykernel_677450/2983119101.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_temp = pd.read_sql(query, bd)

Consulta marcador7 OK

In [14]:
df_list[5]

            number         bd
0      18002001956  marcador7
1      18002002000  marcador7
2      18002002665  marcador7
3      18002003111  marcador7
4      18002004672  marcador7
...            ...        ...
17198  18889993089  marcador7
17199  18889993775  marcador7
17200  18889994803  marcador7
17201  18889996569  marcador7
17202  18889999101  marcador7

[17203 rows x 2 columns]

In [15]:
# Keep only the 'number' column from each DataFrame
df_list = [df[['number']] for df in df_list]

In [16]:
df_list[5]

            number
0      18002001956
1      18002002000
2      18002002665
3      18002003111
4      18002004672
...            ...
17198  18889993089
17199  18889993775
17200  18889994803
17201  18889996569
17202  18889999101

[17203 rows x 1 columns]

In [18]:
# Perform an inner join to get only the common 'number' values across all DataFrames
common_bloq_numbers = reduce(lambda left, right: pd.merge(left, right, on='number', how='inner'), df_list)
common_bloq_numbers

            number
0      18002001956
1      18002002000
2      18002002665
3      18002003111
4      18002004672
...            ...
17198  18889993089
17199  18889993775
17200  18889994803
17201  18889996569
17202  18889999101

[17203 rows x 1 columns]

In [21]:
common_bloq_numbers.to_csv('dest_num_bloq_preventivo.csv', index=False)